# docker/caddy/Caddyfile
:80 {

    encode gzip

    handle /api/* {
        reverse_proxy backend:8000
    }

    handle /admin/* {
        reverse_proxy backend:8000
    }

    handle_path /static/* {
        root * /static
        file_server
    }

    handle_path /media/* {
        root * /media
        file_server
    }

    ############################
    # React
    ############################

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
